<!DOCTYPE html>
<html>
<head>
  <title>JediParking</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true, 'defer' => true %>
  <%= javascript_include_tag 'http://localhost:9292/faye/client.js' %> 
  <!--<%= javascript_include_tag 'http://jedi-parking.herokuapp.com/faye/client.js' %> -->
  <%= csrf_meta_tags %>

</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
   <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand hidden-xs" href="#">PDot</a>
         <a class="navbar-brand visible-xs" href="#">PDot</a>
         <form id="search" class="navbar-form pull-left" role="search" action="/maps">
            <div class="input-group">
               <input id="address" name="address" type="text" class="form-control" placeholder="Street Address or a Place Name" value="<%= @address %>">
               <div class="input-group-btn">
                  <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
               </div>
            </div>
         </form>
      </div>
      <div class="navbar-collapse collapse">
         <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="#contact">Locations</a></li>
         </ul>
      </div>
      <!--/.navbar-collapse -->
   </div>
</div>

<%= yield %>

</body>
</html>
